<!--
    Displaying the users profile
-->
<div id="site-main">
    <div class="container">
        <button class="btn btn-orange my-2 my-sm-0" onClick=" location.href='/editacc/<%= user.slug%>' ">Edit Account</button>
        <button class="btn btn-orange my-2 my-sm-0" onClick=" location.href='/logout/<%= user.slug%>' ">Log Out</button>
         
        <div class="text-center mb-5">
            <h1><%= user.fname %> <%= user.lname%></h1>
            <p>@<%= user.username %> </p>
        </div>
        <!-- card columns -->
        <div class="card-columns">
            <!-- card -->
            <%if (recipes && recipes.length !== 0) { %>
            <% for (let recipe of recipes) { %>
            <div class="card">
                <a href="/recipe/<%= recipe.slug %>"> 
                    <img class="card-img-top" src="/uploads/<%= recipe.image%>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= recipe.name %>
                        </h5>
                        <p class="card-text">
                            <%= recipe.description %>
                        </p>
                    </div>
                </a>
            </div>
            <% } } %>
          
       
            <!-- end card -->        
        </div>
        <div>
            <button class="btn btn-orange my-2 my-sm-0" onClick=" location.href='/newRecipe' ">Create Recipe</button>
        </div>
        <!-- end card columns -->
        <% if (!recipes || recipes.length === 0) {%>
            <div class="text-center">No recipes here.</div>
        <% } %>
    </div>
</div>